*{
  margin: 0px;
  padding: 0px;
}
.fon{
  height: 1000px;
  width: 1050px;
  margin: auto;
  border: 1px solid grey;
}
.logo  {
margin-top: 50px;
margin-left: 50px;
}
.menu ul{
  background: #535353;
  list-style: none;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}
.menu li{
display: inline-block;
margin-left: 30px;
}
.menu a{
  color: white;
  line-height: 30px;
  font-size: 14px;
  font-family: sans-serif;
  text-decoration: none;
}
.menu a:hover{
  background-color: #3f3f3f;
  color: white;
  border: 1px solid grey;
  padding: 7px;
}
.menu_1 ul{
  list-style: none;
  margin: 50px 800px 0 50px;

}
.menu_1 li{
border: 1px solid grey;
}
.menu_1 a{
  display: block;
  color: grey;
  text-indent: 30px;
  line-height: 30px;
  font-size: 14px;
  font-family: sans-serif;
  text-decoration: none;
}
.menu_1 a:hover{
  display: block;
  cursor: pointer;
  background-color: #f9f9f9;
  color: black;
  text-indent: 35px;
}
.foto{
  float: right;
  width: 700px;
  height: 400px;
  text-align: center;
  border: 1px solid grey;
  margin-top: -192px;
  margin-right: 50px;
}
.text{
margin: 250px 50px 0 330px;
color: grey;
font-family: sans-serif;
}
.menu_2 ul{
  background-color: #e1e1e1;
  list-style: none;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}
.menu_2 li{
  display: inline-block;
  margin-left: 30px;
}
.menu_2 a{
  color: grey;
  line-height: 40px;
  font-size: 14px;
  font-family: sans-serif;
  text-decoration: none;
}
.menu_2 a:hover{
  text-decoration: underline;
}
.copy {
  float: right;
  color: grey;
  font-size: 14px;
  font-family: sans-serif;
  margin-right: 30px;
  padding-top: 12px;
}
