*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #f9f9f9;
  background: linear-gradient(to right,
  #f9f9f9, #f9f9f9 150px,
  #ffffff 151px, #ffffff 1200px,
  #f9f9f9 1201px, #f9f9f9 1500px);
  background-repeat: no-repeat;
}
.fon{
  height: 1000px;
  width: 1050px;
  margin: auto;
  border: 1px solid grey;
  box-shadow: 0 0 10px;
}
.logo  {
  margin: 50px 0 0 50px;
}
.menu ul{
  background: #535353;
  list-style: none;
  margin: 50px 50px 0 50px;
}
.menu li{
  display: inline-block;
  line-height: 30px;
}
.menu a{
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 6px 30px 6px 30px;
  border: 1px solid transparent;
}
.menu a:hover{
  background-color: #3f3f3f;
  color: white;
  border: 1px solid grey;

}
.footer div{
  margin: 50px 0 0 50px;
  vertical-align: top;
}
.menu_1{
  display: inline-block;
}
.menu_1 ul{
  list-style: none;
}
.menu_1 li{
  line-height: 30px;
}
.menu_1 a{
  display: block;
  color: grey;
  text-indent: 20px;
  padding: 7px 60px 7px 20px;
  font-size: 14px;
  border: 1px solid grey;
  border-bottom: 1px solid transparent;
  font-family: sans-serif;
  text-decoration: none;
}
.border{
  border-bottom: 1px solid grey;
}
.menu_1 a:hover{
  display: block;
  cursor: pointer;
  background-color: #f9f9f9;
  color: black;
  text-indent: 25px;
  padding: 7px 60px 7px 20px;
}
.foto{
  display: inline-block;
  width: 680px;
  height: 400px;
  text-align: center;
  border: 1px solid grey;
  margin-right: 50px;
}
.text{
margin: 50px 50px 0 330px;
color: grey;
font-family: sans-serif;
}
.menu_2 ul{
  background-color: #e1e1e1;
  list-style: none;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}
.menu_2 li{
  display: inline-block;
  line-height: 30px;
}
.menu_2 a{
  color: grey;
  font-size: 14px;
  font-family: sans-serif;
  padding: 6px 30px 6px 30px;
  text-decoration: none;
}
.menu_2 a:hover{
  padding: 6px 30px 6px 30px;
  text-decoration: underline;
}
.copy {
  float: right;
  color: grey;
  font-size: 14px;
  font-family: sans-serif;
  margin-right: 30px;
}
